          <div class="talks">
            {% if site.data.talks and site.data.talks.size > 0 -%}
            <ul>
              {%- for talk in site.data.talks %}
              <li>
                {% if talk.url %}<a href="{{ talk.url }}">{{ talk.title }}</a>{% else %}{{ talk.title }}{% endif %}
                &mdash; {{ talk.venue }}{% if talk.date %}, {{ talk.date }}{% endif %}.
                {%- if talk.slides %} <a href="{{ talk.slides | relative_url }}">[slides]</a>{% endif %}
                {%- if talk.video %} <a href="{{ talk.video }}">[video]</a>{% endif %}
              </li>
              {%- endfor %}
            </ul>
            {%- endif %}
          </div>
